.col_left {width:25%; float:left; padding:10px 0px; text-align:center; background-color:darkgray}
.col_left .menu_simple{ width:100%; padding-top:10px}
.col_left .title{ font-size:25px; margin:10px 20px}

.col_center {width:50%; float:left; padding:0px}
.col_center .video {width:80%; height:auto; margin:10px auto;}

.col_right {width:25%; float:left; padding:0px;background-color:darkgray}
.col_right .menu_simple{ width:100%;}
.col_right .chatBox{width:100%;}
.col_right .chatInput{width:90%; margin:auto}

.button_group {background-color:darkgray; text-align:center; padding:10px 5px}
.button_group a{width:40%}

.button_chat {text-align:center; padding:5px 5%}
.button_chat .button_config {width:20%; padding-right:10px; height:25px}
.button_chat .button_chat {width:60%; height:25px}

.button_group_video {text-align:left; padding:5px; width:80%; margin:auto}

.button_group_video {text-align:left; padding:5px; width:80%; margin:auto}
.button_group_video a {}
